<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.actitime.screenshots.case3"/>
      <class name="com.actitime.screenshots.case2"/>
      <class name="com.actitime.screenshots.case10"/>
      <class name="com.actitime.screenshots.case1"/>
      <class name="com.actitime.screenshots.case9"/>
      <class name="com.actitime.screenshots.case8"/>
      <class name="com.actitime.screenshots.case7"/>
      <class name="com.actitime.screenshots.case6"/>
      <class name="com.actitime.screenshots.case5"/>
      <class name="com.actitime.screenshots.case4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
